nav {
	position: fixed;
	top: 0;
	right: 0;

	height: 50px;
	width: 29%;

	background-color: #ffd9b3;

	z-index: 99999;
}

nav > ul > li > a {
	font-family: sans-serif;
	padding-right: 1em;
}

.title {
	font-family: fantasy;
	font-size: 3em;
	background-color:  #ffb566;
	width: fill;
}

body {
	background-color: #ffe6cc;
}

a:hover{
	color:yellow;
}

#directory ul{
	list-style: none;
}

#directory li{
	display: inline;
}
